<div class="graph-calendar-day">
  {{#each @rows key="@index" as |row rowIndex|}}
    <div class="graph-calendar-day__row">
      {{#each @columns key="@index" as |column columnIndex|}}
        <div class="graph-calendar-day__value color" style={{get-color-style (get (get @data rowIndex) columnIndex)}}></div>
      {{/each}}
    </div>
  {{/each}}
</div>