.color {
  transition-property: background;
  transition-duration: 0.2s;
}

.container {
  display: flex;
  flex-direction: column;
}

.container-buttons {
  margin: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1 1 auto;
  min-width: 968px;
  align-self: center;
}

.container-action-buttons {
  margin-right: 20px;
}

.container-action-button {
  min-width: 120px;
}

.container-interval-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-interval-buttons__update {
  margin-top: 10px;
}

.container-interval-buttons__buttons {
  display: flex;
  align-items: center;
}

.container-interval-buttons__button {
  margin-right: 10px;
}

.graph-calendar-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 968px;
  margin: 20px auto;
}

.graph-calendar-day__row {
  display: flex;
}

.graph-calendar-day__value {
  display: flex;
  width: 8px;
  height: 8px;
  margin: 1px;
}

@import './g-button.scss';
